.faq_section {
    margin: 0vh auto 10vh;
    width: 80%;
    padding-top: 12.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    h6 {
        font-family: "Oxanium", serif;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: -0.5px;
        color: rgb(75, 75, 255);
        font-variant: small-caps;
        line-height: 1.2;
    }
    h2 {
        font-family: "Poppins", sans-serif;
        font-size: 3.5rem;
        font-weight: 600;
        letter-spacing: -0.5px;
        margin: 0rem 0 2rem;
        line-height: 1.25;
    }
    p {
        font-family: "Oxanium", serif;
        margin: 3rem 0;
        font-size: 16px;
        letter-spacing: 0.25px;
        color: rgb(150, 150, 150);
        span {
            border-bottom: 1px solid black;
            transition: .17s cubic-bezier(0.215, 0.610, 0.355, 1);
            cursor: pointer;
        }
        &:hover {
            span {
                color: black;
            }
        }
    }
    .faq {
        width: 50%;
        width: max(50%, 750px);
        margin: auto;
        .faq-item {
            padding: 10px 0;
            border-bottom: 1px solid rgb(140, 140, 140);
            &:last-of-type {
                border-bottom: none;
            }
            .faq-question {
                font-family: "Poppins", sans-serif;
                font-size: 18px;
                font-weight: 500;
                padding: 11px;
                border-radius: 6px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: 0.2s ease-in-out;
                cursor: pointer;
                &:hover {
                    background-color: blue;
                    color: white;
                }
                .faq-toggle {
                    display: flex;
                    font-size: 22px;
                    //transition: 0.1s ease-in-out;
                }
            }
            .faq-answer {
                font-family: "Geist", sans-serif;
                font-size: 16px;
                font-weight: 300;
                text-align: justify;
                line-height: 1.45;
                margin: 0 auto;
                padding: 0 12px;
                overflow: hidden;
                letter-spacing: 0.25px;
                opacity: 0;
                height: 0;
                max-height: 0;
                &.acitve {
                    padding: 12px;
                    transition: 0.4s opacity ease-in-out;
                    height: auto;
                    max-height: 100%;
                    opacity: 1;
                }
            }
            .faq-question#opened {
                transition: none;
                background-color: #051937;
                color: white;
            }
        }
    }
}

//? 1366 x 768
@media (max-width: 1370px) {
    .faq_section {
        h6 {
            font-size: 1.25rem;
        }
        h2 {
            font-size: 3rem;
        }
    }
}

@media screen and (max-width: 1280px) {
    .faq_section {
        .FAQ-heading {
            font-size: 3.3rem;
        }
        .faq {
            width: 57.5%;
            .faq-item {
                .faq-question {
                    font-size: 16px;
                    padding: 12px;
                }
                .faq-answer {
                    font-size: 15px;
                    line-height: calc(15px * 1.4);
                }
            }
        }
    }
}

//* Mobile Phones
@media screen and (max-width: 450px) {
    .faq_section {
        padding-top: 0;
        width: 95%;
        h2 {
            font-size: 2.75rem;
        }
        .faq {
            width: 100%;
            .faq-item {
                .faq-question {
                    font-size: 14px;
                    padding: 8px 8px;
                    padding-right: 8px;
                    letter-spacing: -0.25px;
                    text-wrap: nowrap;
                    .faq-toggle {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                .faq-answer {
                    font-size: 14px;
                    line-height: 1.35;
                    letter-spacing: 0;
                }
            }
        }
        p {
            margin: 2rem 0 0;
        }
    }
}