.freeTrial_section {
    margin: 5vh auto 7.5vh;
    padding: 15vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(58, 79, 180, 0.2) 0%, rgba(29, 56, 253, 0.3) 50%, rgba(69, 100, 252, 0.25) 100%);
    background: linear-gradient(90deg, rgba(29, 56, 253, 0.3) 0%, rgba(29, 56, 253, 0.3) 50%, rgba(29, 56, 253, 0.3) 100%);
    background: linear-gradient(90deg, rgba(29, 56, 253, 0.45) 0%, rgba(29, 56, 253, 0.25) 50%, rgba(29, 56, 253, 0.45) 100%);
    background: radial-gradient(circle, rgba(25, 0, 255, 0.0) 0%, rgba(0, 18, 255, 0.8) 100%);
    h6 {
        font-family: "Oxanium", serif;
        font-size: 1.25rem;
        font-weight: 500;
        letter-spacing: -0.5px;
        word-spacing: 2px;
        color: rgb(75, 75, 255);
        text-transform: uppercase;
        line-height: 1.2;
    }
    h2 {
        font-family: "Poppins", sans-serif;
        font-size: 3.5rem;
        font-weight: 600;
        letter-spacing: -0.5px;
        margin: 0rem 0 2rem;
        line-height: 1.25;
    }
    button {
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: white;
        outline: none;
        background-color: blue;
        padding: 0.5rem 1.5rem;
        border: 2px solid blue;
        border-radius: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: .175s ease-in-out;
        gap: 0.75rem;
        &:hover {
            background-color: transparent;
            color: #000;
            border-color: #000;
        }
    }
}

//? 1366 x 768
@media (max-width: 1370px) {
    .freeTrial_section {
        h6 {
            font-size: 1.25rem;
        }
        h2 {
            font-size: 3rem;
        }
        button {
            font-size: 16px;
        }
    }
}

//? 1280 x 720
@media (max-width: 1285px) {
    .freeTrial_section {
        button {
            font-size: 15px;
        }
    }
}