.howItWorks_section {
    margin: 5vh auto;
    width: 80%;
    padding-top: 12.5vh;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    h6 {
        font-family: "Oxanium", serif;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: -0.5px;
        color: rgb(75, 75, 255);
        font-variant: small-caps;
        line-height: 1.2;
    }
    h2 {
        font-family: "Poppins", sans-serif;
        font-size: 3.5rem;
        font-weight: 600;
        letter-spacing: -0.5px;
        margin: 0rem 0 2rem;
        line-height: 1.25;
    }
    article {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .steps_wrapper {
            display: flex;
            flex-direction: column;
            width: 40%;
            .step {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                text-align: left;
                margin: 1.75rem 0;
                padding-left: 1.25rem;
                border-left: 3px solid lightgray;
                &:hover {
                    .icon_wrapper .icon {
                        transform: translate(-50%, -50%) scale(1.2);
                    }
                }
                &:first-of-type {
                    border-left-color: blue;
                    border-left-color: rgb(105, 105, 255);
                    border-radius: 2px;
                }
                .icon_wrapper {
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    aspect-ratio: 1/1;
                    background-color: rgb(220, 220, 255);
                    position: relative;
                    display: flex;
                    margin-right: 1.5rem;
                    .icon {
                        display: flex;
                        font-size: 1.75rem;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: blue;
                        transition: .15s ease-in-out;
                    }
                }
                .step_content {
                    h5 {
                        font-family: "Geist", sans-serif;
                        font-size: 17px;
                        font-weight: 500;
                        gap: 7px;
                        letter-spacing: -0.2px;
                        color: rgb(20, 20, 20);
                        display: flex;
                        align-items: center;
                        span {
                            color: rgb(150, 150, 150);
                            user-select: none;
                        }
                    }
                    p {
                        color: rgb(175, 175, 175);
                    }
                }
            }
        }
    }
    img {
        object-fit: cover;
        height: auto;
        width: auto;
    }
}