.introduction_section {
    width: 80%;
    margin: 15vh auto;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    .introduction_wrapper {
        font-size: 17px;
        background-color: rgb(205, 205, 255);
        color: rgb(0, 0, 255);
        padding: 0.42rem 0.5rem;
        border-radius: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-family: "Roboto", sans-serif;
        .announcement {
            color: rgb(75, 75, 255);
            background-color: #FFF;
            font-weight: 500;
            display: flex;
            align-items: center;
            border-radius: 50px;
            padding: 0 0.4rem;
            margin-right: 7px;
            cursor: pointer;
            user-select: none;
            letter-spacing: -0.4px;
            font-family: "Roboto", sans-serif;
        }
        .company {
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            margin-left: 4px;
        }
        .icon {
            font-size: 16px;
            margin-right: 4px;
            color: rgb(100, 100, 255);
        }
        .arrow_icon {
            font-size: 16px;
            display: flex;
            cursor: pointer;
            margin-left: 5px;
        }
    }
    p {
        font-family: "Roboto", sans-serif;
        color: rgb(120, 120, 120);
        font-size: 1.25rem;
        font-weight: 300;
        letter-spacing: -0.25px;
        word-spacing: 0.5px;
        font-family: sans-serif;
    }
    .free_trial {
        font-family: "Roboto", sans-serif;
        color: rgb(100, 100, 100);
        font-size: 16px;
        font-weight: 300;
        letter-spacing: -0.3px;
    }
    h1 {
        font-family: "Poppins", sans-serif;
        font-size: 3.75rem;
        font-weight: 500;
        letter-spacing: -0.5px;
        margin: 0.5rem 0 0.25rem;
    }
    button {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: white;
        outline: none;
        background-color: blue;
        margin: 2.75rem 0 1rem;
        padding: 0.4rem 1.25rem;
        border: 2px solid blue;
        border-radius: 5px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: .175s ease-in-out;
        .icon {
            margin-right: 10px;
        }
        &:hover {
            background-color: transparent;
            color: rgb(0, 0, 0);
            border-color: black;
        }
    }
}