.introduction_section {
    width: 80%;
    margin: 15vh auto 10vh;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    .introduction_wrapper {
        font-family: "Geist", sans-serif;
        font-size: 18px;
        background-color: rgb(205, 205, 255);
        color: rgb(0, 0, 255);
        padding: 6px 0.5rem;
        padding-right: 18px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        letter-spacing: -0.25px;
        .announcement {
            font-size: 18px;
            letter-spacing: -0.5px;
            color: rgb(75, 75, 255);
            background-color: #FFF;
            display: flex;
            align-items: center;
            border-radius: 50px;
            padding: 5px 0.75rem;
            margin-right: 8px;
            cursor: pointer;
            user-select: none;
            .icon {
                font-size: 18px;
                margin-right: 6px;
                color: rgb(100, 100, 255);
            }
        }
        .company {
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            margin-left: 6px;
        }
        .arrow_icon {
            font-size: 16px;
            display: flex;
            cursor: pointer;
            margin-left: 5px;
        }
    }
    h1 {
        font-family: "Poppins", sans-serif;
        font-size: 3.75rem;
        font-weight: 600;
        letter-spacing: -0.5px;
        line-height: 1.25;
        margin: 1rem 0 0.75rem;
        .span {
            font-family: "Instrument Serif", serif;
            font-style: italic;
            letter-spacing: 1.25px;
        }
        .colored-span {
            background: -webkit-linear-gradient(0deg, rgb(0, 0, 255) 5%, rgb(150, 150, 255));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            &:nth-of-type(2) {
                background: -webkit-linear-gradient(45deg, rgb(92, 92, 255) 1%, rgb(150, 150, 255));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    .subHeading {
        color: rgb(135, 135, 135);
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 1.25;
    }
    .buttons-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        button {
            font-family: "Poppins", sans-serif;
            font-size: 18px;
            letter-spacing: -0.4px;
            line-height: 2rem;
            color: white;
            margin: 2.5rem 0 0.75rem;
            gap: 1rem;
            outline: none;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: .2s ease-in-out;
            &:hover {
                background-color: transparent;
                color: rgb(0, 0, 0);
                border-color: black;
            }
        }
        .get_started-button {
            background-color: blue;
            padding: 0.5rem 1.25rem;
            border: 2px solid blue;
            border-radius: 10px;
        }
        .watch_demo-button {
            justify-content: space-between;
            background-color: rgb(0, 0, 0);
            padding: 0.5rem 0.75rem;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 50px;
            .icon {
                font-size: 1.5rem;
            }
            span {
                font-family: "Oxanium", serif;
                color: rgb(150, 150, 150);
            }
        }
    }
    .free_trial {
        font-family: "Roboto", sans-serif;
        color: rgb(100, 100, 100);
        font-size: 17px;
        font-weight: 300;
        letter-spacing: -0.2px;
    }
    .recommendation-wrapper {
        margin: 5rem 0;
        h5 {
            font-family: "Oxanium", serif;
            font-size: 22px;
            font-weight: 500;
            letter-spacing: -0.5px;
            text-transform: uppercase;
            color: rgb(75, 75, 255);
            border-radius: 50px;
            padding: 0.75rem 1.5rem;
            line-height: 1.2;
        }
        .slider-container {
            width: 55%;
            margin: 0 auto;
            overflow: hidden;
            margin: 20px auto;
            white-space: nowrap;
            position: relative;
            &::before,
            &::after {
                position: absolute;
                top: 0;
                content: '';
                width: 250px;
                height: 100%;
                z-index: 1;
                pointer-events: none;
            }
            &::before {
                left: 0;
                background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(250, 250, 250));
            }
            &::after {
                right: 0;
                background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(250, 250, 250));
            }
            &:hover {
                .slider-items {
                    animation-play-state: paused;
                }
            }
            .slider-items {
                display: inline-block;
                animation: 15s slides infinite linear;
            }
            .logo-img {
                width: 140px;
                height: 80px;
                object-fit: contain;
                margin: 0 1.5rem;
                filter: grayscale(100%);
                transition: filter 0.2s ease-in-out;
                z-index: 1;
                &:hover {
                    filter: grayscale(0%);
                }
            }
        }
    }
}

@keyframes slides {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

//? 1536 x 864
@media (max-width: 1550px) {
    .introduction_section .recommendation-wrapper .slider-container {
        width: 50%;
    }
}

//? 1440 x 900
@media (max-width: 1450px) {
    .introduction_section {
        .introduction_wrapper {
            font-size: 17px;
            .announcement {
                font-size: 17px;
            }
        }
        h1 {
            font-size: 3.5rem;
        }
        .subHeading {
            font-size: 18px;
        }
        .buttons-wrapper {
            button {
                margin-top: 2.25rem;
                font-size: 16px;
            }
        }
    }
}

//? 1366 x 768
@media (max-width: 1370px) {
    .introduction_section {
        .introduction_wrapper {
            font-size: 16px;
            .announcement {
                font-size: 16px;
            }
            .arrow_icon {
                font-size: 15px;
            }
        }
        h1 {
            font-size: 3.25rem;
        }
        .buttons-wrapper {
            button {
                margin-top: 2rem;
                font-size: 15px;
            }
            .watch_demo-button {
                padding: 6px 0.75rem;
            }
            .get_started-button {
                padding: 6px 1.25rem;
            }
        }
        .recommendation-wrapper {
            h5 {
                padding: 0;
            }
            .slider-container {
                width: 42.5%;
                .logo-img {
                    width: 120px;
                    height: 70px;
                }
            }
        }
    }
}

//? 1280 x 720
@media (max-width: 1285px) {
    .introduction_section {
        margin-bottom: 0vh;
        .introduction_wrapper {
            font-size: 15px;
            padding: 5px;
            padding-right: 0.75rem;
            .announcement {
                font-size: 15px;
                margin-right: 10px;
            }
        }
        width: 90%;
        h1 {
            font-size: 3rem;
            margin-bottom: 0.5rem;
        }
        .subHeading {
            font-size: 16px;
        }
        .buttons-wrapper {
            button {
                margin-top: 1.75rem;
                font-size: 14px;
            }
            .watch_demo-button {
                padding: 5px 0.75rem;
            }
            .get_started-button {
                padding: 5px 1.25rem;
            }
        }
        .free_trial {
            font-size: 16px;
        }
    }
}