.problem_section {
    margin: 0 auto;
    width: 80%;
    padding-top: 12.5vh;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    h5 {
        font-family: "Oxanium", serif;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: -0.5px;
        color: rgb(75, 75, 255);
        font-variant: small-caps;
        line-height: 1.2;
    }
    h2 {
        font-family: "Poppins", sans-serif;
        font-size: 3.5rem;
        font-weight: 600;
        letter-spacing: -0.5px;
        margin: 0rem 0 2rem;
        line-height: 1.25;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            right: -1rem;
            top: 50%;
            transform: translate(0%, -50%);
            background-color: rgb(175, 225, 255);
            background-color: rgb(220, 220, 255);
            height: 4.5rem;
            width: 25%;
        }
    }
    article {
        width: 90%;
        margin: 2.5rem 0 10vh;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        .card {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            width: 30%;
            .icon_wrapper {
                border-radius: 50%;
                height: 60px;
                width: 60px;
                background-color: rgb(220, 220, 255);
                position: relative;
                display: flex;
                .icon {
                    display: flex;
                    font-size: 2rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: blue;
                }
            }
            h6 {
                font-family: "Poppins", sans-serif;
                font-size: 22px;
                font-weight: 600;
                letter-spacing: -0.25px;
                margin: 0.5rem 0 0.75rem;
            }
            p {
                font-family: "Poppins", sans-serif;
                color: rgb(115, 115, 115);
                font-size: 16px;
                font-weight: 300;
                width: 90%;
                letter-spacing: -0.2px;
                line-height: 1.5;
            }
        }
    }
}

//? 1440 x 900
@media (max-width: 1450px) {
    .problem_section {
        width: 90%;
    }
}

//? 1366 x 768
@media (max-width: 1370px) {
    .problem_section {
        h5 {
            font-size: 1.25rem;
        }
        h2 {
            font-size: 3rem;
        }
        article {
            width: 95%;
        }
    }
}

//* Mobile Phones
@media (max-width: 450px) {
    .problem_section {
        padding-top: 2.5vh;
        width: 97.5%;
        h5 {
            font-size: 20px;
        }
        h2 {
            font-size: 2.75rem;
            line-height: 1.175;
            &::after {
                display: none;
            }
        }
        article {
            width: 100%;
            .card {
                align-items: center;
                h6 {
                    text-align: center;
                    font-size: 16px;
                    line-height: 1.25;
                    letter-spacing: -0.5px;
                    height: 2.25rem;
                }
                p {
                    line-height: 1.45;
                    letter-spacing: -0.4px;
                    font-size: 13px;
                    text-align: center;
                    width: 90%;
                }
            }
        }
    }
}