.problem_section {
    width: 80%;
    margin: 15vh auto;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    h5 {
        color: rgb(75, 75, 255);
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: -0.5px;
        font-variant: small-caps;
        font-family: "Oxanium", serif;
    }
    h2 {
        font-family: "Poppins", sans-serif;
        font-size: 3.25rem;
        font-weight: 600;
        letter-spacing: -0.5px;
        margin: 0.25rem 0 2.5rem;
    }
    article {
        width: 90%;
        margin: 4vh 0 10vh;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        .card {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            width: 30%;
            .icon_wrapper {
                border-radius: 50%;
                height: 60px;
                width: 60px;
                background-color: rgb(220, 220, 255);
                position: relative;
                display: flex;
                .icon {
                    display: flex;
                    font-size: 2rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: blue;
                }
            }
            h6 {
                font-family: "Poppins", sans-serif;
                font-size: 21px;
                font-weight: 600;
                letter-spacing: -0.25px;
                margin: 0.5rem 0 0.75rem;
            }
            p {
                font-family: "Poppins", sans-serif;
                color: rgb(110, 110, 110);
                font-size: 16px;
                font-weight: 300;
                width: 90%;
                letter-spacing: -0.2px;
            }
        }
    }
}